
body {
  background-color: #eaeaef;
  color: #333;
}

body, p, ol, ul, td {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
a.block { display: block; cursor: pointer; }
a.block span,
a.block em { color:#08c; cursor: pointer; }
a.block:hover { text-decoration: none; }
a.block:hover span,
a.block:hover em { color: #08c; text-decoration: underline; }
a.more, em.more, span.more { white-space: nowrap; padding-right: 10px; background: url(/euro/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; cursor: pointer; zoom: 1; }
a.external, em.external, span.external { white-space: nowrap; padding-right: 15px; background: url(/euro/global/elements/icons/external10x10.gif) no-repeat 100% 49%; cursor: pointer; zoom: 1; }
a[rel="external"] { white-space: nowrap; padding-right: 15px; background: url(/euro/global/elements/icons/external10x10.gif) no-repeat 100% 49%; cursor: pointer; zoom: 1; }
em.more, span.more, em.external, span.external { color:#08c; font-style: normal; cursor: pointer; }
.nowrap { white-space:nowrap; }
strong, b { font-weight: bold; }
em, i, cite { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; _position: static !important; }
sup, sup a { color:#666; }
sup a:hover { color:#08c; text-decoration:none; }
abbr { border: 0; }
.sosumi { font-size: 10px !important; line-height:1.5; color:#888; }
.sosumi_features { font-size: 10px !important; line-height:1.5; color:#888; }

h1,h2,h3,h4,h5,h6,strong { color:#000; }
h1,h2,h3,h4 { font-weight: bold; }
h2,h3,h4 { line-height: 18px; }
h1,h2 { margin-bottom: 18px; }
h1 { font-size: 24px; line-height: 36px; }
h2 { font-size: 16px; }
h3 { font-size: 1em; }
h4 { font-size: 10px; }

p { margin-bottom: 18px; }
p.intro { color: #888; font-size: 16px; line-height: 22px; font-weight: normal; }
.more { text-align: right; }

ul { list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle { margin-left: 2em; margin-bottom: 18px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul ul.circle,
ul ul.square { margin-top: 4px; margin-bottom: 5px; }
ol.sosumi { margin-left: 0; padding-left: 2em; *padding-left: 2.2em; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


div#main {
  margin: auto;
  width: 800px;
  background-color: #FFFFFF;
  border: 1px solid #667;
}

div#header {
  background-color: #507AAA;
  color: #ffffff;
}

div#header div#headertitle {
  font-size: 2.3em;
  font-weight: bold;
  padding: 20px;
}

#navigation {
  background-color: #507AAF;
  border-top: 1px solid #305A8A;
  border-bottom: 2px solid #505A8A;
  height: 24px;
}

#navigation ul {
  margin: 0px;
  padding: 0px;
}

#navigation li {
  float: left;
  list-style-type: none;
  margin: 0 2px 0 0;
  padding: 0;
  white-space: nowrap;
}
#navigation li a {
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px;
  text-decoration: none;
}
